/* 仿表格布局 */

// 仿表格布局-容器
.tw-astable {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

// 仿表格布局-行
.tw-astable-row {
  display: table-row;
}

// 仿表格布局-列
.tw-astable-col {
  display: table-cell;
}
