/* 下拉列表 */
.tw-dropdown {
  position: relative;
}

.tw-dropdown-link {
  position: relative;
  display: block;
  padding-right: 15px;
  cursor: pointer;
}

.tw-dropdown-link > .tw-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -2.5px;
  transition: all $time linear;
  transform-origin: 50% 30%;
}

.tw-dropdown-body {
  position: absolute;
  display: none;
  min-width: 100%;
  height: 0;
  transition: height $time linear;
}

.tw-dropdown.xright > .tw-dropdown-body {
  right: 0;
}

.tw-dropdown.xleft > .tw-dropdown-body {
  left: 0;
}

.tw-dropdown-body.xhorizontal {
  top: 0;
  left: 100%;
  min-width: 0;
  height: auto;
}

.tw-dropdown.xactive > .tw-dropdown-body {
  display: block;
}

.tw-dropdown.xactive > .tw-dropdown-link > .tw-arrow,
.tw-dropdown.xhover:hover > .tw-dropdown-link > .tw-arrow {
  transform: rotate(180deg);
}
