/* 列表 */
$select-height: $ctr-height-default !default; // 默认选择框高度
$select-height-small: $ctr-height-small !default; // 小选择框高度
$select-height-large: $ctr-height-large !default; // 大选择框高度
$select-list-border-color: $color-border-main !default; // 选项列表边框色
$select-list-item-line-height: $ctr-height-default !default; // 选项列表项行高
$select-list-item-px: $spacing-tiny !default; // 选项水平内边距
$select-list-item-color: $color-text-inverse !default; // 选项字体颜色
$select-list-item-hover-bg: $color-main !default; // 选项滑过背景

// 选择框
.tw-select {
  position: relative;
}

.tw-select-label {
  line-height: $select-height;
}

// 选项列表
.tw-list.xselect {
  border: 1px solid $select-list-border-color;
}

// 选项列表项
.tw-list.xselect > .tw-list-item {
  line-height: $select-list-item-line-height;
  padding: 0 $select-list-item-px;
  cursor: pointer;

  &:hover {
    color: $select-list-item-color;
    background: $select-list-item-hover-bg;
  }
}
