/* 弹出面板 */

// 弹出面板-触发链接
.tw-popbtn {
  position: relative;
  display: block;
  padding-right: 15px;
  cursor: pointer;
}

// 弹出面板-箭头
.tw-popbtn > .tw-arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2.5px;
  transition: all $time linear;
  transform-origin: 50% 30%;
}

.tw-popbtn.xopen > .tw-arrow,
.tw-popbtn.xhover:hover > .tw-arrow {
  transform: rotate(180deg);
}

// 弹出层
.tw-poplayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// 弹出面板
.tw-poppane {
  position: absolute;
  transform-origin: top center;
}

.tw-poppane[class*="xtop"],
.tw-poppane[class*="xauto"][style*="bottom"],
.tw-poppane.xleftbottom,
.tw-poppane.xrightbottom {
  transform-origin: bottom center;
}

.tw-poppane.xleftcenter,
.tw-poppane.xrightcenter {
  transform-origin: center center;
}
