/* 下拉列表 */
.tw-poppane {
  position: relative;
}

.tw-poppane-link {
  position: relative;
  display: block;
  padding-right: 15px;
  cursor: pointer;
}

.tw-poppane-link > .tw-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -2.5px;
  transition: all $time linear;
  transform-origin: 50% 30%;
}

.tw-poppane-body {
  position: absolute;
  min-width: 100%;
  transform-origin: top center;
}

.tw-poppane.xactive > .tw-poppane-link > .tw-arrow,
.tw-poppane.xhover:hover > .tw-poppane-link > .tw-arrow {
  transform: rotate(180deg);
}
