.tw-ico.xdc {
  background-position: 0px 0px;
  width: 48px;
  height: 19px;
}
.tw-ico.xdm {
  background-position: 0px -29px;
  width: 28px;
  height: 19px;
}
.tw-ico.xdm.xfull {
  background-position: -58px 0px;
  width: 28px;
  height: 19px;
}
