// 引入变量、mixins、functions
// ------------------------------------------------------------
@import "base/functions.scss";
@import "base/variables.scss";
@import "mixins/responsive.scss";
@import "mixins/utils.scss";

/* 侧边浮动 */
$floater-width: 82px !default; // 宽度
$floater-spacing: 10px !default; // 与主内容的距离

// 侧边浮动-容器
.tw-floater {
  position: fixed;
  bottom: 60px;
  left: 50%;
  width: $floater-width;
}

// 侧边浮动-左悬浮
.tw-floater.xleft {
  margin-left: map-get($map: $container-widths, $key: pc) / -2 - $floater-width - $floater-spacing;

  @include media-only(lpad) {
    margin-left: map-get($map: $container-widths, $key: lpad) / -2 - $floater-width - $floater-spacing;
  }

  @include media-down(pad) {
    display: none;
  }
}

// 侧边浮动-右悬浮
.tw-floater.xright {
  margin-left: map-get($map: $container-widths, $key: pc) / 2 + $floater-spacing;

  @include media-only(lpad) {
    margin-left: map-get($map: $container-widths, $key: lpad) / 2 + $floater-spacing;
  }

  @include media-down(pad) {
    display: none;
  }
}
