/* 头部 */
$header-zindex: $zindex-high !default; // 头部图层索引
$header-height: 60px !default; // 头部高度
$header-line-height: $header-height !default; // 头部行高
$header-font-size: $font-size-default !default; // 字体尺寸
$header-bg: $color-main !default; // 头部背景
$header-color: $color-text-inverse !default; // 文字颜色
$header-mb: $spacing-medium !default; // 底部间距
$header-title-font-size: $font-size-medium !default; // logo区标题字体大小
$header-title-pl: $spacing-small !default; // 标题左间距
$header-left-mr: $spacing-medium !default; // logo区右间距
$header-navlink-hover-bg: $color-main-hover !default; // 头部导航滑过背景色
$header-navlink-hover-color: $color-text-inverse !default; // 头部导航滑过文字颜色
$header-navlink-active-bg: $color-main-active !default; // 头部导航选中背景颜色
$header-navlink-active-color: $color-text-inverse !default; // 头部导航选中文字颜色
$header-navlink-px: $spacing-small !default; // 头部导航间距
$header-nav-link-line-height: $line-height-default !default; // 头部链接行高
$header-menu-line-height: 36px !default; // 头部下拉菜单行高

// 头部-容器
.tw-header {
  position: relative;
  z-index: $header-zindex;
  height: $header-height;
  line-height: $header-line-height;
  margin-bottom: $header-mb;
  font-size: $header-font-size;
  color: $header-color;
  background: $header-bg;
}

// 头部-内部内容区
.tw-header-inner {
  @if $app-type == web {
    @include make-container();
  }
  @else {
    @include make-container();
  }
}

// 头部-左侧内容区(logo及站点名称等)
// 头部-主体
.tw-header-left,
.tw-header-body {
  float: left;
}

.tw-header-left {
  margin-right: $header-left-mr;
  font-size: 0;
  color: $header-color;
}

// 头部-标题
.tw-header-title {
  display: inline-block;
  padding-left: $header-title-pl;
  font-size: $header-title-font-size;
  vertical-align: middle;
}

// 头部-右侧内容区
.tw-header-right {
  float: right;
}

// 头部-导航
.tw-nav.xheader > li {
  height: $header-height;
}

.tw-nav.xheader > li > a {
  height: $header-height;
  padding: 0 $header-navlink-px;
  @include center-y();

  &:hover {
    color: $header-navlink-hover-color;
    background: $header-navlink-hover-bg;
  }

  &.xactive {
    color: $header-navlink-active-color;
    background: $header-navlink-active-bg;
  }
}

.tw-nav.xheader a > div {
  display: inline-block;
  line-height: $header-nav-link-line-height;
  vertical-align: middle;
}

.tw-header + .tw-nav.xlv2 {
  margin-top: -$header-mb;
}

// 头部-弹出开关
.tw-popswitch.xheader {
  display: block;
}

.tw-popswitch.xheader,
.tw-nav.xheader > li > .tw-popswitch.xheader {
  padding: 0 $header-navlink-px * 2 0 $header-navlink-px;
}

.tw-popswitch.xheader > .tw-triangle {
  right: $header-navlink-px;
}

.tw-popswitch.xheader.xopen {
  background: $header-navlink-hover-bg;
}

// 头部-下拉菜单项
.tw-header-menu {
  line-height: $header-menu-line-height;
  padding: $spacing-tiny 5px;
  color: $header-color;
  white-space: nowrap;
  background: $header-navlink-hover-bg;
}

.tw-header-menu:after {
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
  left: 5px;
  height: 1px;
  background: rightDownColor($header-navlink-active-bg, 4%);
}

// stylelint-disable no-descending-specificity
.tw-header-menu > li > a {
  display: block;
  padding: 0 $header-navlink-px;
  border-radius: 3px;

  &:hover {
    color: $header-navlink-active-color;
    background: $header-navlink-active-bg;
  }
}
