/* !------------------------------------------------------------
 * 样式:twui.scss
 * 版本:v1.0.0
 * ------------------------------------------------------------ */
// 框架设置

// 变量与公用scss
// ------------------------------------------------------------
@import "teewon/base/functions";
@import "teewon/base/variables";
@import "teewon/mixins/utils";
@import "teewon/mixins/responsive";

// 通用样式
// ------------------------------------------------------------
@import "teewon/base/reset";
@import "teewon/transitions";

// 全局组件(teewon)
// ------------------------------------------------------------
@import "teewon/nav";
@import "teewon/optbox";
@import "teewon/arrow";

// 布局组件(teewon)
// ------------------------------------------------------------
@import "teewon/grid";
@import "teewon/multicol";
@import "teewon/title";
@import "teewon/header";
@import "teewon/body";
@import "teewon/footer";
@import "teewon/poppane";

// 元样式(teewon)
// ------------------------------------------------------------
@import "teewon/utils";

// App图标
// ------------------------------------------------------------
.tw-ico {
  box-sizing: content-box;
  display: inline-block;
  padding: 1px;
  vertical-align: middle;
  background-image: url(../images/icons.png);
  background-origin: content-box;
}
@import "sprite";

.slideDown {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.sliding {
  overflow: hidden !important;
  transition: all 10s linear;
}

.slideDown.xactive {
  height: 150px;
  overflow: visible;
  visibility: visible;
}

// App(当前项目)
// ------------------------------------------------------------
