/* --------------------------- 重置teewon框架样式 --------------------------- */
.tw-sidebar:after {
  @include lineY($color-border-auxiliary);
  left: 200px;
}

/* --------------------------- 通用组件 --------------------------- */
/* 色板 */
.tw-palette > .tw-block + .tw-block {
  margin-left: $margin-large;
}

.tw-palette > .tw-block.xlml {
  margin-left: $margin-large * 2;
}

/* 颜色单元 */
.tw-colorcell {
  width: 65px;
  height: 65px;
  vertical-align: top;
  cursor: pointer;
}

.tw-colorcell > .el-color-picker__trigger {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
}

.tw-colorcell .el-color-picker__color {
  border-color: $color-border-main;
}

.tw-colorcell .el-color-picker__empty,
.tw-colorcell .el-color-picker__icon {
  display: none !important;
}

.tw-colorcell.xmain {
  background: $color-main;
}

.tw-colorcell.xmainHover {
  background: $color-main-hover;
}

.tw-colorcell.xmainActive {
  background: $color-main-active;
}

.tw-colorcell.xauxiliary {
  background: $color-auxiliary;
}

.tw-colorcell.xauxiliaryHover {
  background: $color-auxiliary-hover;
}

.tw-colorcell.xauxiliaryActive {
  background: $color-auxiliary-active;
}

.tw-colorcell.xweaking {
  background: $color-weaking;
  border: 1px solid $color-border-main;
}

.tw-colorcell + .tw-colorcell {
  margin-left: $margin-large;
}
