// stylelint-disable
body.xnew {
  background:#282828 url("~@images/px-ruler-y.png") repeat-y 0 30px;
}

body.xnew::before {
  content: "";
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 30px;
  height: 16px;
  width: 100%;
  background: url("~@images/px-ruler-x.png") repeat-x top left;
}
